  .img-container{
  background-image: url("../img/metal.jpg");
  }
  
  .div-background{
  	background-color:aliceblue;
  }
  .div-lightbackground{
  	background-color: aliceblue;
  }
  .ticker-panel{
  	height:103px;
  	overflow:hidden;
  }
  .scroll-left {
         height: 50px;	
         overflow: visible;
         position: relative;
         width : 100%
        }
       .scroll-left .tickerClass {
         font-weight:bold;
         position: absolute;
         display:inline-block;
         width: 100%;
         height: 100%;
         margin: 0;
         line-height: 50px;
         text-align: center;
         /* Starting position */
         -moz-transform:translateX(100%);
         -webkit-transform:translateX(100%);	
         transform:translateX(100%);
         /* Apply animation to this element */	
         -moz-animation: scroll-left 10s linear infinite;
         -webkit-animation: scroll-left 15s linear infinite;
         animation: scroll-left 20s linear infinite;
        }
        /* Move it (define the animation) */
        @-moz-keyframes scroll-left {
         0%   { -moz-transform: translateX(100%); }
         100% { -moz-transform: translateX(-100%); }
        }
        @-webkit-keyframes scroll-left {
         0%   { -webkit-transform: translateX(100%); }
         100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes scroll-left {
         0%   { 
         -moz-transform: translateX(100%); /* Browser bug fix */
         -webkit-transform: translateX(100%); /* Browser bug fix */
         transform: translateX(100%); 		
         }
         100% { 
         -moz-transform: translateX(-100%); /* Browser bug fix */
         -webkit-transform: translateX(-100%); /* Browser bug fix */
         transform: translateX(-100%); 
         }
        }
  .table-style{
	  float:right;
	  border:none;
  }
  
  .table-style-heading{
	  float:left;  
  }
  
  .plus-style{
	  display:block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 1px solid grey;
      padding-right: 60px;
      margin-left: 55%;
      position: relative;  
  }

  .glyph{
	  font-size: 35px;
	  margin-right: 70px;	 
  }
  
  .panel-css{
  	padding-bottom:16px;
  }
  
  .selected-glyph{
  	color:white;
  	width:20px;
  	padding-bottom: 30px;
  	font-size: 20px;
  }

  #new-trade-form{
	  display: block;
  } 
  
  .tb{
	  border: 1px solid grey;
  }
  
  .th{
      font-size: 50px;
  }
  
  .tradeComponent{
  	  width: 100%;
  	  height:629px;
  }
  
  .buttonPagination{
  	  border:none;
  }
  .searchButton{
    top: 0px;
    z-index: auto;
    width: auto;
    right: 10px;
  }
  .clearButton{
    z-index: auto;
    width: auto;
    top: -5px;
    right: 10px;
  }
  .customMargin{
  	margin-left:10px;
  	margin-right:10px;
  }
  .btn-css{
  background-color:#5bc0de;
  color:black;
  border-color: #5bc0de;
  font-weight: bold;
   }  
  .btn-css-clear{
  background-color:#ff6666;
  color:black;
  border-color: #ff6666;
  font-weight: bold;
   }
  .btn-css-add{
  background-color:#66cc66;
  color:black;
  border-color: #66cc66;
  font-weight: bold;
   }
    .btn-css-top{
  background-color:#5bc0de;
  color:black;
  border-color: #5bc0de;
  font-weight: bold;
   }
   .add-btn-position{
   margin-left:55%;
   margin-bottom:15px;
   }
  .btn-size{
  width: 110px;
  height: 40px;
  }
  .date-css{
  width: 190%;
  }
  .field-css{
  width:60%;
  margin-left: 40%;
  }
  .label-css{
  padding-left: 53px;
  }
  .chk-css{
  margin-left: 188%;
  }
  .chk-label-css{
  padding-left: 22px;
  }
  
  .tickerDiv{
  	width:70px;
  	display:inline-block;
  	margin-right:3px;
  	}
  	
  .top-background{
  	background-color: aliceblue;
  }
  
  .top-button-background{
  	background-color: #ffffff;
  }